html, body {
    background: url("../images/railway.jpg");
    background-size: cover;
}

.card-header {
    color: white;
    font-weight: bold;
}

.form-group, #train-table {
    color: #009ada;
}

#add-train-btn, #remove-train {
    background-color: #009ada;
}

#add-train-btn:hover, #remove-train:hover {
    background-color: #0781be;
}

.jumbotron, .card {
    opacity: .9;
}